<section class="custom-home">
    <!-- <div class="container"> -->
        <div class="custom-banner">
            <div class="custom-banner-img">
                <div class="custom-banner-imgbox active" data-id="index1">
                    <img src="assets/image/Architecth2.png" alt="">
                    <div class="img-content">
                        <div class="content-text">
                            <p id="text1">TRUST AND RECOMEND</p>
                            <p id="text2">GIVING YOUR<br>HOME A NEW STYLE<br>EVERY STYLE</p>
                            <a href="#" target="blank" id="text3">VIEW PROJECT</a>
                        </div>
                    </div>
                </div>
                <div class="custom-banner-imgbox" data-id="index2">
                    <img src="assets/image/nature-3082832_960_720.webp" alt="">
                    <div class="img-content">
                        <div class="content-text">
                            <p id="text1">TRUST AND RECOMEND</p>
                            <p id="text2">GIVING YOUR<br>HOME A NEW STYLE<br>EVERY STYLE</p>
                            <a href="#" target="blank" id="text3">VIEW PROJECT</a>
                        </div>
                    </div>
                </div>
                <div class="custom-banner-imgbox" data-id="index3">
                    <img src="assets/image/sunset-1373171_960_720.webp" alt="">
                    <div class="img-content">
                        <div class="content-text">
                            <p id="text1">TRUST AND RECOMEND</p>
                            <p id="text2">GIVING YOUR<br>HOME A NEW STYLE<br>EVERY STYLE</p>
                            <a href="#" target="blank" id="text3">VIEW PROJECT</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="index-content">
                <ul>
                    <li><span id="index1" onclick="index1show()"><i class="fa-solid fa-1"></i></span></li>
                    <li><span id="index2" onclick="index2show()"><i class="fa-solid fa-2"></i></span></li>
                    <li><span id="index3" onclick="index3show()"><i class="fa-solid fa-3"></i></span></li>
                </ul>
            </div>
        </div>
    <!-- </div>// -->
</section>